# Node stuff
node_modules/
*.log
npm-debug.log*
.npm
.node_repl_history

# IntelliJ stuff
*.iml
.idea/

# Build output
build/
data/

# Environment variables for testing
.env

# Misc
.DS_Store
/reports/alto/
